@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> CAMBIE AQUI </title>
</head>
<body>
    <script>
        var BASE_PATH = "@(Request.ApplicationPath.Length > 1 ? Request.ApplicationPath + "/" : "/")";
    </script>
    <div>
        @RenderBody()
    </div>
</body>
</html>